<!DOCTYPE html>
<html lang="en">
    {% load static %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
  <link rel="stylesheet" href="{% static 'post/style.css'%}">
</head>
<body>

    {% if post.image %}
    <img class="myimage" src="{{ post.image.url }}" alt="myimage">
    {% else %}
   <img class="myimage" src="{% static 'default.jpg' %}" alt="No image available">
    {% endif %}

    <h1> {{post.title}} </h1>
    <p>by {{ post.author }}</p>
    {{post.body}}
    {{post.time}}
  
    
</body>
</html>