body{
    background-color: black;
    color: white;


}
h1{
    color:white;
    text-align: center;
}

nav{
  
      align-items: center;
    background-color: greenyellow;
    
}
ul{
    display: flex;
    justify-content: end;
    list-style: none;
    
}
li{
 
    margin: 4px;
    padding: 4px;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: black ;
}